.wrapper {
  background-color: var(--ifm-home-color-black);
  color: var(--ifm-home-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 4rem));
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 1366px;
}

.feature {
  max-width: 36rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.description {
  font-size: 1.25rem;
  opacity: 0.8;
}

@media (max-width: 1050px) {
  .container {
    grid-template-columns: auto;
    padding: 0 1.5rem;
  }

  .title {
    font-size: 1.75rem;
  }
}

@media (max-width: 570px) {
  .container {
    grid-template-columns: auto;
  }

  .title {
    font-size: 1.5rem;
  }
}
