/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-primary: #6b52ae; */
  --ifm-color-primary: #6b52ae;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.section {
  padding: 2rem;
}


blockquote {
  background-color: rgba(226, 232, 125, 0.2);
  border-left: 5px solid rgba(226, 232, 125, 0.5);
}

pre code {
  border-left: 4px solid #6b52ae;
}

.heroContainer {
  background: #f9f9f9;
}

.homeContainer {
  background: #fff;
}

.pluginRowBlock .button {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 8px;
}

.postHeader h2 {
  margin-top: 12px;
  color: #6b52ae;
}

.headerTitleWithLogo {
  font-weight: 500;
}

.projectTitle {
  font-weight: 500;
}

.projectTitle small {
  opacity: 0.8;
  margin-top: 0.4em;
}

.run-code-button {
  margin-top: -25px;
  margin-bottom: 5px;
  display: inline-block;
}
.navWrapper li {
  word-wrap: normal;
}

.quote-source {
  display: block;
  text-align: right;
  margin-top: -25px;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 14px;
}

samp {
  display: none;
}

.snack-sample-link {
  display: block;
  margin-bottom: 20px;
  margin-top: -5px;
}

code.template {
  display: none;
}