/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
  background: #fff;
}

blockquote {
  background-color: rgba(226, 232, 125, 0.2);
  border-left: 5px solid rgba(226, 232, 125, 0.5);
}

pre code {
  background-color: #f9f9f9 !important;
  border-left: 4px solid #6b52ae;
}

.heroContainer {
  background: #f9f9f9;
}

.homeContainer {
  background: #fff;
}

.pluginRowBlock .button {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 8px;
}

.postHeader h2 {
  margin-top: 12px;
  color: #6b52ae;
}

.headerTitleWithLogo {
  font-weight: 500;
}

.projectTitle {
  font-weight: 500;
}

.projectTitle small {
  opacity: 0.8;
  margin-top: 0.4em;
}

.run-code-button {
  margin-top: -25px;
  margin-bottom: 5px;
  display: inline-block;
}
.navWrapper li {
  word-wrap: normal;
}

.quote-source {
  display: block;
  text-align: right;
  margin-top: -25px;
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 14px;
}

samp {
  display: none;
}

.snack-sample-link {
  display: block;
  margin-bottom: 20px;
  margin-top: -5px;
}

code.template {
  display: none;
}
