.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem 5rem;
  margin-top: var(--ifm-heading-margin-top);
  margin-bottom: calc(
    var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  );

  h1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  h1 + div {
    margin-left: -0.75rem;
  }
}
