:root {
  --primary-hue: 256.3;
  --primary-saturation: 53.2%;
  --primary-lightness: 50.2%;

  --ifm-font-family-monospace:
    'Fira Code', 'JetBrains Mono', 'JetBrains Mono Fallback', ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
    monospace;
  --ifm-font-family-base:
    Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', ui-sans-serif,
    system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --ifm-heading-font-family: 'Google Sans', var(--ifm-font-family-base);
  --ifm-font-size-base: 100%;
  --ifm-line-height-base: 1.75;
  --ifm-code-font-size: 85%;

  --ifm-heading-font-weight: 600;
  --ifm-heading-line-height: 1.25;
  --ifm-heading-margin-top: 1.618rem;

  --ifm-color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );

  --ifm-color-primary-dark: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    45.1%
  );

  --ifm-color-primary-darker: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    40.1%
  );

  --ifm-color-primary-darkest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    35.1%
  );

  --ifm-color-primary-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    55.2%
  );

  --ifm-color-primary-lighter: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    60.2%
  );

  --ifm-color-primary-lightest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    77.6%
  );

  --ifm-hero-background-color: var(--ifm-color-primary);
  --ifm-footer-background-color: var(--ifm-background-surface-color);
  --ifm-home-color-text: #414360;
  --ifm-home-color-background: #f7f7ff;
  --ifm-home-color-background-secondary: #d5d6f5;
  --ifm-home-color-highlight: hsl(var(--primary-hue), 57.5%, 71.4%);
  --ifm-home-color-border: #414360;
  --ifm-home-color-black: #25292e;
  --ifm-home-color-white: #f7f7ff;

  --ifm-menu-color-background-active: rgba(107, 82, 174, 0.1);

  --ifm-footer-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-footer-padding-vertical: var(--ifm-spacing-vertical);
  --ifm-tabs-padding-vertical: 0.375rem;

  --ifm-alert-shadow: none;
  --ifm-alert-border-width: 1px;
  --ifm-alert-border-left-width: 1px;

  --ifm-code-padding-horizontal: 0.3em;

  --docusaurus-highlighted-code-line-bg: hsla(45, 97%, 72%, 0.3);

  --codeblock-background-color: #f6f8fa;
}

:root[data-theme='dark'] {
  --primary-saturation: 35.9%;
  --primary-lightness: 70%;

  --ifm-color-primary-dark: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    63.1%
  );

  --ifm-color-primary-darker: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    59.6%
  );

  --ifm-color-primary-darkest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    49%
  );

  --ifm-color-primary-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    76.9%
  );

  --ifm-color-primary-lighter: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    80.4%
  );

  --ifm-color-primary-lightest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    91%
  );

  --ifm-footer-background-color: #25292f;
  --ifm-home-color-text: #f7f7ff;
  --ifm-home-color-background: #414360;
  --ifm-home-color-background-secondary: #585b82;
  --ifm-home-color-highlight: hsl(var(--primary-hue), 100%, 78.6%);
  --ifm-home-color-border: #f7f7ff;

  --docusaurus-highlighted-code-line-bg: hsla(45, 77%, 25%, 0.3);

  --codeblock-background-color: #282a35;
}

:not([data-theme='dark']) body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1 {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 2rem;
  margin-left: -0.05rem;
}

h2 {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 1.5rem;
  margin-left: -0.04rem;
}

h3 {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 1.25rem;
}

h4 {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 1.125rem;
}

h5 {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 1.0625rem;
}

h6 {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: 1rem;
}

header {
  font-family: var(--ifm-heading-font-family);
}

.blog-wrapper .container {
  max-width: 100%;
  padding: 0 1.25rem;
}

@media (min-width: 90rem) {
  .main-wrapper:not(.full-width),
  .navbar__inner,
  .footer .container,
  .blog-wrapper .container {
    max-width: 90rem;
    margin: auto;
  }
}

@media (min-width: 85rem) {
  .main-wrapper:not(.full-width) main:not(.blog-wrapper main) {
    padding: 2rem 0 2rem 2rem;
  }

  .main-wrapper:not(.full-width) .container > .row > :first-child {
    padding-right: 3rem;
  }
}

@media (min-width: 95rem) {
  .main-wrapper:not(.full-width) main:not(.blog-wrapper main) {
    padding: 3rem 0 3rem 4rem;
  }

  .main-wrapper:not(.full-width) .container > .row > :first-child {
    padding-right: 5rem;
  }
}

.footer {
  border-top: 1px solid var(--ifm-toc-border-color);
}

.navbar {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

[data-theme='dark'] .navbar::before {
  background-color: rgba(32, 33, 37, 0.7);
}

.navbar__inner {
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);
}

.dropdown > .navbar__link:after {
  top: 4px;
  transform: rotate(90deg);
  width: 10px;
  height: 10px;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E")
    no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
}

.navbar div[class*='colorModeToggle'] {
  margin: 0 0.5rem;
}

.navbar .DocSearch-Button {
  border-radius: var(--ifm-global-radius);
}

.navbar .DocSearch-Button svg {
  width: 16px;
  height: 16px;
}

.navbar__logo {
  margin-right: 0.75rem;
}

@media (min-width: 997px) {
  .navbar__brand {
    width: calc(
      var(--doc-sidebar-width) - var(--ifm-navbar-padding-horizontal)
    );
    box-shadow: 1px 0 0 0 var(--ifm-toc-border-color);
  }
}

@media (max-width: 996px) {
  .navbar__inner .navbar__brand {
    position: relative;
    margin: auto;
    left: -1rem;
  }
}

.navbar__toggle svg {
  display: none;
}

.navbar__toggle::after {
  content: '';
  width: 24px;
  height: 24px;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M21 6H3M15 12H3M17 18H3'/%3E%3C/svg%3E")
    no-repeat;
  background-color: currentColor;
}

.navbar-social-link::before {
  content: '';
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.navbar-social-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.navbar-social-link-x::before {
  width: 18px;
  height: 18px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z'/%3E%3C/svg%3E");
}

.navbar-social-link-github::before {
  width: 20px;
  height: 20px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

.theme-doc-sidebar-menu {
  margin-right: var(--ifm-menu-link-padding-horizontal);
}

.menu {
  font-size: 87.5%;
  font-weight: var(--ifm-font-weight-normal);
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.menu > .menu__list > .menu__list-item > .menu__list {
  padding-left: 0;
}

.menu > .menu__list > .menu__list-item {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.menu > .menu__list > .menu__list-item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  width: calc(100% - 1.5rem);
  height: 1px;
  background-color: var(--ifm-toc-border-color);
}

@media (min-width: 85rem) {
  .menu > .menu__list > .menu__list-item {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
  }
}

.menu__list {
  position: relative;
}

.menu__list .menu__list .menu__list-item-collapsible + .menu__list:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--ifm-toc-border-color);
}

.menu__list .menu__list .menu__list-item-collapsible + .menu__list > li {
  margin-left: 5px;
}

.menu__list-item-collapsible > .menu__link {
  font-size: 1rem;
  font-weight: var(--ifm-font-weight-bold);
  color: var(--ifm-color-emphasis-1000);
}

.menu__list-item-collapsible > .menu__link--active {
  color: var(--ifm-color-emphasis-1000);
}

.menu__link--active {
  font-weight: var(--ifm-font-weight-semibold);
}

.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
  opacity: 0.5;
}

.pagination-nav__link {
  border: none;
}

.pagination-nav__label::before,
.pagination-nav__label::after {
  display: none;
}

.pagination-nav__link--next .pagination-nav__sublabel::after {
  content: ' →';
}

.pagination-nav__link--prev .pagination-nav__sublabel::before {
  content: '← ';
}

.tabs {
  font-weight: var(--ifm-font-weight-semibold);
}

.tabs__item {
  border-bottom: 2px solid var(--ifm-toc-border-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tabs__item--active,
.tabs__item--active:hover {
  border-bottom-color: var(--ifm-tabs-color-active-border);
}

.tabs-container:has(
    > .margin-top--md > [role='tabpanel'] > .theme-code-block:only-child
  ):not(:has(> .margin-top--md > [role='tabpanel'] > :nth-child(2))) {
  background-color: var(--codeblock-background-color);
  border-radius: var(--ifm-code-border-radius);

  & > .margin-top--md {
    margin-top: 0 !important;
  }

  & > .tabs {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--ifm-toc-border-color);
    border-top-left-radius: var(--ifm-code-border-radius);
    border-top-right-radius: var(--ifm-code-border-radius);
  }

  & > .tabs > .tabs__item {
    border-top-right-radius: 0;
  }

  & > .tabs > .tabs__item:not(:first-child) {
    border-top-left-radius: 0;
  }
}

[role='tabpanel'] > .theme-code-block:only-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.col:has(.table-of-contents) {
  padding-left: 0;
}

.table-of-contents__link--active {
  position: relative;
}

.table-of-contents__link--active::before {
  content: '';
  position: absolute;
  left: calc(-1rem - 1px);
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--ifm-color-primary);
}

.table-of-contents > li > ul > li > .table-of-contents__link--active::before {
  left: calc(-2rem - 1px);
}

.theme-edit-this-page svg,
.theme-admonition svg {
  transform: scale(0.8);
}

.theme-code-block {
  border: 1px solid var(--ifm-toc-border-color);
}

article {
  text-wrap: pretty;
}

article > div > * + h2 {
  margin-top: 3.5rem;
}

article > div > * + h3 {
  margin-top: 3rem;
}

article h2 + p,
article h3 + p,
article h4 + p {
  margin-top: 1rem;
}

article img,
article video:not(.video-player video),
.video-player {
  vertical-align: top;
  margin: var(--ifm-leading) 0;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    var(--ifm-global-shadow-lw);
}

article img {
  display: inline-block;
  max-width: 100%;
}

article video {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: auto;
  max-width: 100%;
  border-radius: var(--ifm-global-radius);
}

article video[data-landscape] {
  width: auto;
  max-height: 373px;
}

@media (max-width: 320px) {
  article video,
  article video[data-landscape] {
    width: 100%;
    height: auto;
  }
}

article video:not(.video-player video):has(+ video),
article .video-player:has(+ .video-player) {
  margin-right: var(--ifm-leading);
}

article p ~ video:not(.video-player video),
article p ~ .video-player {
  margin-top: 0;
}

samp {
  display: none;
}

.video-player {
  position: relative;
  display: inline-block;
  border-radius: var(--ifm-global-radius);
}

.video-player-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: 300ms opacity ease;
  opacity: 0;
  border-radius: var(--ifm-global-radius);
}

.video-player-icon::after {
  content: '';
  height: 72px;
  aspect-ratio: 1 / 1;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><defs><mask id='pause-mask'><circle cx='9' cy='9' r='9' fill='white'/><rect x='6' y='6' width='2' height='6' fill='black'/><rect x='10' y='6' width='2' height='6' fill='black'/></mask></defs><circle cx='9' cy='9' r='9' fill='white' mask='url(%23pause-mask)'/></svg>");
}

.video-player.paused .video-player-icon::after {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><defs><mask id='play-mask'><circle cx='9' cy='9' r='9' fill='white'/><polygon points='7.5,6 7.5,12 12.5,9' fill='black'/></mask></defs><circle cx='9' cy='9' r='9' fill='white' mask='url(%23play-mask)'/></svg>");
}

.video-player:is(:hover, :focus, .paused) .video-player-icon {
  opacity: 1;
}

.theme-code-block {
  box-shadow: none !important;
}

.theme-code-block:has(+ .code-block-footer) {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.theme-code-block + .code-block-footer {
  display: flex;
  font-size: var(--ifm-code-font-size);
  text-align: right;
  margin-top: 0;
  margin-bottom: var(--ifm-leading);
  background-color: var(--codeblock-background-color);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--ifm-toc-border-color);
  border-bottom-left-radius: var(--ifm-pre-border-radius);
  border-bottom-right-radius: var(--ifm-pre-border-radius);
}

[data-theme='dark'] .theme-code-block + .code-block-footer {
  border-top-color: rgba(255, 255, 255, 0.07);
}

.code-block-footer {
  margin-bottom: 25px;
  margin-top: -8px;
  justify-content: space-between;
}

.code-block-expand {
  appearance: none;
  border: none;
  background: none;
  font-size: inherit;
  margin: 0;
  cursor: pointer;
}

.code-block-expand,
.code-block-snack-link {
  padding: calc(var(--ifm-pre-padding) / 3) var(--ifm-pre-padding);
}

.code-block-snack-link {
  margin-left: auto;
}

.code-block-snack-link svg {
  margin-left: 8px;
}

/**
 * use magic comments to mark diff blocks
 */
.code-block-diff-add-line {
  background-color: var(--ifm-color-success-contrast-background);
  display: block;
  margin: 0 -2em;
  padding: 0 2em;
}

.code-block-diff-add-line::before {
  position: absolute;
  left: 8px;
  padding-right: 8px;
  content: '+';
  color: var(--ifm-color-success-dark);
}

.code-block-diff-remove-line {
  background-color: var(--ifm-color-danger-contrast-background);
  display: block;
  margin: 0 -2em;
  padding: 0 2em;
}

.code-block-diff-remove-line::before {
  position: absolute;
  left: 8px;
  padding-right: 8px;
  content: '-';
  color: var(--ifm-color-danger-dark);
}

pre code:has(.code-block-diff-add-line) {
  padding-left: 2em !important;
}

pre code:has(.code-block-diff-remove-line) {
  padding-left: 2em !important;
}

code {
  border-width: 1px;
}

.blog-wrapper .container aside nav {
  margin-top: 2.25rem;
}

.blog-wrapper article h2 {
  font-size: 2rem;
  line-height: 1.3;
}

.blog-wrapper article h2 a {
  color: var(--ifm-font-color-base);
  text-decoration: none;
}

.blog-wrapper article h2 a:hover {
  color: var(--ifm-color-primary);
}

.blog-wrapper .avatar__photo {
  margin: calc(var(--ifm-leading) / 2) 0;
}

.blog-wrapper .avatar__intro {
  display: grid;
  grid-template-areas:
    'name socials'
    'subtitle .';
  justify-content: start;
  align-items: center;
  gap: 0;
  font-size: 0.875rem;
  margin: calc(var(--ifm-leading) / 2) 0;
}

.blog-wrapper .avatar__intro > .avatar__name {
  font-weight: 500;
  grid-area: name;
}

.blog-wrapper .avatar__intro > .avatar__name + small {
  grid-area: subtitle;
}

.blog-wrapper .avatar__intro > .avatar__name + small + div {
  grid-area: socials;
  margin-left: var(--ifm-leading);
}
