name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Build pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint markdown
        run: yarn markdownlint-cli2

      - name: Run Typecheck
        run: yarn typecheck

      - name: Run tests
        run: yarn test

      - name: Build pages
        run: yarn build
